/* Header */
header{
    display: flex;
    justify-content: right;
}

nav a{
    color: black;
}

/* H1 */
.red{color: red;
display: inline-block;
transform: scaleX(-1)translateX(-0.2rem);}

/* grid box categories */
.categories-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* categorie-box */
.category-box{
    background-color: grey;
    color: white;
    padding: 30px;
    border-radius: 5px;
    text-decoration: none;
}


.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, fr);
  }
  
  .product-card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
  }
  
  /* Billeder */
  .product-card img {
    width: 100%;
    height: auto;
  }

  /* text color */
  .grey{
    color: lightslategray;
  }
  .products a{
    color: black;
  }

  /* SALE RED */
  .sale{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
  .saleRed{
    background-color: red;
    
  }


  /* SOLD OUT IMG */
  .sold-out_container img{
    filter: opacity(50%)
  }
  .sold-out{
    background-color: grey;
    color: white;
    padding: 30px;
    position: absolute;
    top: 8px;
    left: 16px;

  }
  .sold-out_container{
    position: relative;
    text-align: center;
  }

/* PRODUCT PAGE */
.breadcrumbs a{
    color: black;
}
.info-right{
    background-color: #d8d8d8;
    color: white;
    padding: 20px;
    font-size: x-large;
}


.info-left{
    font-size: x-large;
}

.product-info{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-right, .info-left{
    flex: 1;

}

.product-img{
    text-align: center;
    max-width: 400px;
    width: 100%;
}

